@page "/admin/orderdetails"

@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]

@inherits BlazorAdmin.Helpers.BlazorComponent

@namespace BlazorAdmin.Pages.OrdersPage

<PageTitle>eShopOnWeb Admin: Order Details</PageTitle>

<h1>Order Details</h1>

@if (orderDetails is not null && orderDetails.Any())
{
    <table class="table">
        <thead>
            <tr>
               @*  <th>Buyer Name</th> *@
                <th>Address</th>
                <th>Date</th>
                <th>Status</th> 
                @* <th>Products</th> *@
            </tr>
        </thead>
    </table>
}
else
{
    <p>Order Details Count @orderDetails.Count</p>
    <p>No order details found.</p>
}
